{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="text-center"> </h5>

                        <div class="container">

                            <div class="row">
                              <div class="col-12">

                                    <div class="view overlay zoom">
                                        <div class="col-xl-5 col-md-4 mb-3 text-center">

                                            <img src="https://scontent.fbkk5-8.fna.fbcdn.net/v/t1.0-9/124006171_2351028365043301_9140593578830487066_o.jpg?_nc_cat=106&ccb=2&_nc_sid=84a396&_nc_eui2=AeEmJoURwyjzdY-VzDvb4jvrwSDzLcMrrELBIPMtwyusQlmaApnu5wfQ-NFa0tYpT7OVyf6JT4eLDFxBh27G0D9Q&_nc_ohc=HmtdK08xjCMAX_htLRU&_nc_ht=scontent.fbkk5-8.fna&oh=175ea9ed7fcbf9d69cffdf929da15554&oe=603B8B53" class="img-fluid z-depth-1 rounded-circle"
                                              alt="Responsive image">
                                              <br>
                                              <br>
                                              นางสาวภัสนันท์ เจษฎาธนาดี รหัสนิสิต 62102010179
                                          </div>
                                    </div>
                              </div>
                                    
                           
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}